{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="col-md-6 mx-auto">
        <h2 class="text-center">User Login</h2>
        <form method="POST">

            {% if messages %}
            <div class="alert alert-primary text-center" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            {% csrf_token %}

            <div class="mb-3">
                <label>Username:</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Password:</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3">
            Don't have an account? <a href="/register/">Register here</a>.
        </p>
    </div>
{% endblock %}
